<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361078863947-fhqljbocr0jktlv26n9c9vlu4d89vvpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361078863947-fhqljbocr0jktlv26n9c9vlu4d89vvpq</string>
	<key>API_KEY</key>
	<string>AIzaSyDTJA29T4rdRP65OQQjxAVMP8rO9tJoAeo</string>
	<key>GCM_SENDER_ID</key>
	<string>361078863947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learn.Instant-Instructor-Team</string>
	<key>PROJECT_ID</key>
	<string>instant-instructor-team</string>
	<key>STORAGE_BUCKET</key>
	<string>instant-instructor-team.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361078863947:ios:d4670ef471cd15b03435ce</string>
	<key>DATABASE_URL</key>
	<string>https://instant-instructor-team-default-rtdb.firebaseio.com</string>
</dict>
</plist>